<!-- Square Payment Form Start -->
<div class="sq-form" data-params="{{ params|json_encode }}">
  <div class="sq-field">
    <div id="{{ params.paymentForm.cardNumber.elementId }}"></div>
    <div class="sq-error"></div>
  </div>
  <div class="sq-field">
    <div id="{{ params.paymentForm.expirationDate.elementId }}"></div>
    <div class="sq-error"></div>
  </div>
  <div class="sq-field">
    <div id="{{ params.paymentForm.cvv.elementId }}"></div>
    <div class="sq-error"></div>
  </div>
  <div class="sq-field">
    <div id="{{ params.paymentForm.postalCode.elementId }}"></div>
    <div class="sq-error"></div>
  </div>
  {{ hiddenInput('nonce') }}
  {{ hiddenInput('verificationToken') }}
  <div class="sq-form-error"></div>
</div>
<!-- Square Payment Form End -->

<code>4310 0000 0020 1019 — 111 — 123456</code>
<pre>{{ params|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>

<style>
  .sq-form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  .sq-field {
    padding: 0 10px;
  }

  .sq-field:first-child {
    width: 100%;
  }

  .sq-field:not(:first-child) {
    width: 33.33%;
    margin-top: 20px;
  }
</style>
