<div class="{{ containerClass|trim }}" data-params="{{ squareParams|json_encode }}">
  {{ hiddenInput('cardNonce') }}
  {{ hiddenInput('verificationToken') }}
  <div id="{{ squareParams.card.elementId }}"></div>
  <ul class="{{ errorsClass|trim }}"></ul>
</div>
