<div class="{{ containerClass|trim }}"
     data-params="{{ squareParams|json_encode }}"
     data-verificationDetails="{{ verificationDetails|json_encode }}">
  {{ hiddenInput('token') }}
  {{ hiddenInput('verificationToken') }}
  <div id="{{ squareParams.card.elementId }}"></div>
  <ul class="{{ errorsClass|trim }}"></ul>
</div>
