<!-- Square Payment Form Start -->
<div class="sq-form" data-params="{{ params|json_encode }}">
  <div class="sq-field">
    <div id="{{ params.paymentForm.cardNumber.elementId }}"></div>
    <div class="sq-error"></div>
  </div>
  <div class="sq-field">
    <div id="{{ params.paymentForm.expirationDate.elementId }}"></div>
    <div class="sq-error"></div>
  </div>
  <div class="sq-field">
    <div id="{{ params.paymentForm.cvv.elementId }}"></div>
    <div class="sq-error"></div>
  </div>
  <div class="sq-field">
    <div id="{{ params.paymentForm.postalCode.elementId }}"></div>
    <div class="sq-error"></div>
  </div>
  {{ hiddenInput('nonce') }}
  {{ hiddenInput('verificationToken') }}
  <ul class="sq-form-error"></ul>
</div>
<!-- Square Payment Form End -->
